In [1]:
import pandas as pd
import datetime as dt

In [2]:
df = pd.read_csv("cleaned_dataset.csv")

In [3]:
#df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392732 entries, 0 to 392731
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392732 non-null  int64
 1   StockCode    392732 non-null  object
 2   Description  392732 non-null  object
 3   Quantity     392732 non-null  int64
 4   InvoiceDate  392732 non-null  object
 5   UnitPrice    392732 non-null  float64
 6   CustomerID   392732 non-null  int64
 7   Country      392732 non-null  object
 8   Total_amt    392732 non-null  float64
dtypes: float64(2), int64(3), object(4)
memory usage: 27.0+ MB

## Business Analysis

**Total Revenue**

In [ ]:
df['Total_amt'].sum().round(2)

**Total Orders**

In [ ]:
total_orders = df['InvoiceNo'].nunique()
total_orders

**Total Customers**

In [ ]:
total_customers = df['CustomerID'].nunique()
total_customers

**Total Products**

In [ ]:
total_products = df['StockCode'].nunique()
total_products

## Customer Analysis

**Revenue per Customer**

In [ ]:
rev_customer = df.groupby('CustomerID')['Total_amt'].sum()
rev_customer

**No. of orders per customer**

In [4]:
df.groupby('CustomerID')['InvoiceNo'].nunique()

CustomerID
12346     1
12347     7
12348     4
12349     1
12350     1
         ..
18280     1
18281     1
18282     2
18283    16
18287     3
Name: InvoiceNo, Length: 4339, dtype: int64

**Avg order value per customer**

In [ ]:
order_value = df.groupby('InvoiceNo')['Total_amt'].sum()
avg_order = order_value.groupby(df.set_index('InvoiceNo')['CustomerID']).mean()

In [ ]:
#sort by revenue
sort= df["Total_amt"].sort_values()
sort

**Top 10 customers**

In [ ]:
top= df.groupby('CustomerID')['Total_amt'].head(10)
top

## Time Analysis

In [ ]:

df['InvoiceDate']= pd.to_datetime(df['InvoiceDate'])

In [ ]:
df['InvoiceDate'].dt.to_period('M')

**Monthly revenue**

In [ ]:
amt_month= df.groupby(df['InvoiceDate'].dt.month)['Total_amt'].sum()
amt_month

**Monthly Orders**

In [ ]:
ord_month= df.groupby(df['InvoiceDate'].dt.month)['InvoiceNo'].sum()
ord_month

**Top products by revenue**

In [ ]:
products=df.groupby('Total_amt')['Description'].head(10)
products

**Top products by quantity**

In [ ]:
products_qty=df.groupby('Quantity')['Total_amt'].head(10)
products